body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
  overflow: hidden;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

canvas {
  display: block;
}

img {
  max-height: 100%;
  width: auto;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 1; /* TODO Solve this in HTML */
}

a,
button,
input,
select {
  pointer-events: auto;
}

.dg.ac {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2 !important; /* TODO Solve this in HTML */
}

/* 提示信息 */
.labelTitle {
  position: relative;
  padding: 8px;
  background-color: #000000;
  border: #ffffff solid 1px;
  border-radius: 8px;
  text-align: center;
  min-width: 70px;
}

.labelTitle:before,
.labelTitle:after {
  box-sizing: content-box;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-4.5px);
  display: block;
  content: "";
  padding: 0;
}

.labelTitle:before {
  bottom: -15px;
  border-top: 8px solid #000000;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  z-index: 12;
}

.labelTitle:after {
  bottom: -18px;
  border-top: 9px solid #ffffff;
  border-bottom: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  z-index: 10;
}

/* 弹窗 */

#app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.9;
  z-index: 99999;
}

.alert {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

.alertBj {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;
  transition: opacity 0.5s;
}

.alert.active {
  display: block;
  z-index: 9999;
}

.alert.active .alertBj {
  opacity: 0.9;
}

.alert .alert-container {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  transition: transform 0.5s;
  transform: scale(0);
}

.alert.active .alert-container {
  transform: scale(1);
}

.alert .alert-content {
  /* padding: 10px; */
  /* text-align: center; */
  width: 100%;
  height: 100%;
}

.alert-content-left {
	width: 26.9271vw;
	height: 100%;
	border-right: 1px solid #525151;
	box-sizing: border-box;
	float: left;
  }
  
  .alert-content-left .alert-content-left-inner {
	padding: 11.3889vh 5.625vw 0 5.2083vw;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-title {
	font-size: 2.0833vw;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 2.3148vh;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-subtitle {
	font-size: 1.1458vw;
	font-weight: 400;
	color: #898989;
	line-height: 2.3148vh;
	padding-top: 1.0185vh;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-des {
	font-size: 0.8333vw;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 2.5926vh;
	padding-top: 2.1296vh;
	text-indent: 2em;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab {
	padding-top: 4.537vh;
	width: 100%;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .alert-content-tab-item,
  .alert-content-left .alert-content-left-inner .alert-content-tab .switch-video {
	cursor: pointer;
	overflow: hidden;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .alert-content-tab-item .tab-item-icon,
  .alert-content-left .alert-content-left-inner .alert-content-tab .switch-video .tab-item-icon {
	position: relative;
	width: 6.9444vh;
	height: 6.9444vh;
	background: linear-gradient(0deg, #323232, #191919);
	box-sizing: border-box;
	border-radius: 50%;
	float: left;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .alert-content-tab-item .tab-item-icon::after,
  .alert-content-left .alert-content-left-inner .alert-content-tab .switch-video .tab-item-icon::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -2.9167vh;
	margin-top: -2.9167vh;
	width: 5.8333vh;
	height: 5.8333vh;
	border-radius: 50%;
	background: #545867;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .alert-content-tab-item .img::after,
  .alert-content-left .alert-content-left-inner .alert-content-tab .switch-video .img::after {
	background: #545867 url("../img/image.png") no-repeat center center;
	background-size: 60% 60%;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .alert-content-tab-item .video::after,
  .alert-content-left .alert-content-left-inner .alert-content-tab .switch-video .video::after {
	background: #545867 url("../img/video.png") no-repeat center center;
	background-size: 60% 60%;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .alert-content-tab-item .sanwei::after,
  .alert-content-left .alert-content-left-inner .alert-content-tab .switch-video .sanwei::after {
	background: #545867 url("../img/sanwei.png") no-repeat center center;
	background-size: 60% 60%;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .alert-content-tab-item .audio::after,
  .alert-content-left .alert-content-left-inner .alert-content-tab .switch-video .audio::after {
	background: #545867 url("../img/audio.png") no-repeat center center;
	background-size: 60% 60%;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .alert-content-tab-item .tab-item-label,
  .alert-content-left .alert-content-left-inner .alert-content-tab .switch-video .tab-item-label {
	display: inline-block;
	height: 6.9444vh;
	line-height: 6.9444vh;
	vertical-align: middle;
	padding-left: 0.625vw;
	font-size: 1vw;
	font-weight: 400;
	color: #FFF;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .active .tab-item-icon::after {
	background-color: #0463B4;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .active .tab-item-label {
	color: #0463B4;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .alert-content-tab-item:not(:first-child) {
	padding-top: 1.1111vh;
  }
  
  .alert-content-left .alert-content-left-inner .alert-content-tab .switch-video {
	padding-top: 1.1111vh;
  }
  
  .alert-content-right {
	display: inline-block;
	width: calc(100% - 26.9792vw);
	height: 100%;
	position: relative;
  }
  
  .alert-content-right .alert-content-right-inner {
	width: 100%;
	height: 100%;
	padding: 11.1111vh 4.5313vw 8.7037vh 4.8958vw;
	box-sizing: border-box;
  }
  
  .alert-content-right .alert-content-right-inner .tab_0 {
	width: 100%;
	height: 100%;
  }
  
  .alert-content-right .alert-content-right-inner .tab_0 .alert-content-right-up {
	width: 63.5938vw;
	height: 63.6111vh;
  }
  
  .alert-content-right .alert-content-right-inner .tab_0 .alert-content-right-up img {
	height: 100%;
	width: 100%;
	display: block;
  }
  
  .alert-content-right .alert-content-right-inner .tab_0 .alert-content-right-down {
	width: 100%;
	margin-top: 2.2222vh;
	display: flex;
	justify-content: space-between;
  }
  
  .alert-content-right .alert-content-right-inner .tab_0 .alert-content-right-down .carousel-item {
	display: inline-block;
	width: 14.1146vw;
  }
  
  .alert-content-right .alert-content-right-inner .tab_0 .alert-content-right-down .carousel-item img {
	width: 100%;
	display: block;
  }
  
  .alert-content-right .alert-content-right-inner .tab_0 .alert-content-right-down .active {
	border: 1px solid #FFF;
  }
  
  .alert-content-right .alert-content-right-inner .tab_1 {
	/* display: none; */
	width: 100%;
	height: 100%;
  }
  
  .alert-content-right .alert-content-right-inner .tab_1 video {
	width: 100%;
  }
  
  .alert-content-right .alert-content-right-inner .tab_2 {
	/* display: none; */
	height: 100%;
  }
  
  .alert-content-right .alert-content-right-inner .tab_2 iframe {
	width: 100%;
	height: 100%;
	border: none;
  }
  
  .alert-content-right .close {
	position: absolute;
	top: 5.463vh;
	right: 2.3438vw;
	width: 3.9815vh;
	height: 3.9815vh;
	cursor: pointer;
  }
  
  .alert-content-right .close::after {
	content: "";
	display: block;
	width: 3.9815vh;
	height: 3.9815vh;
	background: url("../img/close.png") no-repeat center center;
	background-size: 100% 100%;
  }
  
